# Core functionality - changes here should be rare!
/src/app.py                   @Jaswanth-Marni
/src/backend/database.py      @Jaswanth-Marni
/src/backend/routers/auth.py  @Jaswanth-Marni

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Jaswanth-Marni

